<div>
  <h1 style="text-align-last: center">Student Elective Details</h1>
  <button
    type="button"
    style="margin-right: 10%; margin-left: 38%; margin-bottom: 10px"
  >
    <a routerLink="/signup-student" style="text-decoration: none; color: black"
      >Register Student</a
    ></button
  ><br />

  <style>
    table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 100%;
    }

    td,
    th {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
    }

    tr:nth-child(even) {
      background-color: #dddddd;
    }
  </style>
  <table style="width: 75%; margin-left: 13%">
    <tr>
      <th>Student Name</th>
      <th>Elective1</th>
      <th>Elective2</th>
      <th>Elective3</th>
      <th>Elective4</th>
      <th>Elective5</th>
      <th>Action</th>
    </tr>
    <tr *ngFor="let post of data">
      <td>{{ post?.name }}</td>
      <td>{{ post?.elective1 }}</td>
      <td>{{ post?.elective2 }}</td>
      <td>{{ post?.elective3 }}</td>
      <td>{{ post?.elective4 }}</td>
      <td>{{ post?.elective5 }}</td>
      <td>
        <button type="button" style="margin-right: 15px">
          <a
            routerLink="/update-electives-data"
            [state]="post"
            style="text-decoration: none; color: black"
            >Edit</a
          >
        </button>
        <button type="button" (click)="deleteStudent(post.name)">Delete</button>
      </td>
    </tr>
  </table>
</div>
