<html>
  <div style="text-align-last: right; padding-right: 45%">
    <h1>Signup Here</h1>

    <label><b>Student Name</b></label
    >&nbsp;&nbsp;&nbsp;&nbsp;
    <input
      style="text-align-last: start"
      type="text"
      name="name"
      id="name"
    /><br />
    <label><b>Elective 1</b></label
    >&nbsp;
    <input
      style="text-align-last: start"
      type="text"
      name="elective1"
      id="elective1"
    /><br />

    <label><b>Elective 2</b></label
    >&nbsp;
    <input
      style="text-align-last: start"
      type="text"
      name="elective2"
      id="elective2"
    /><br />
    <label><b>Elective 3</b></label
    >&nbsp;
    <input
      style="text-align-last: start"
      type="text"
      name="elective3"
      id="elective3"
    /><br />
    <label><b>Elective 4</b></label
    >&nbsp;
    <input
      style="text-align-last: start"
      type="text"
      name="elective4"
      id="elective4"
    /><br />
    <label><b>Elective 5</b></label
    >&nbsp;
    <input
      style="text-align-last: start"
      type="text"
      name="elective5"
      id="elective5"
    /><br /><br />
    <button type="button" style="margin-right: 6%">Signup</button>
    <button type="button" style="margin-right: 15px">
      <a routerLink="/get-details" style="text-decoration: none; color: black"
        >Back</a
      >
    </button>
  </div>
</html>
